.xzoom{position:relative;}
.xzoom .xzoom-min{position:absolute;top:0;left:0;width:100px;height:50px;border:1px solid #fc0;background-color:rgba(255,255,0,0.3)}

.xzoom-big{position:absolute;width:200px;height:200px;overflow:hidden;background: pink;}
.xzoom-big img{position:absolute;left:0;top:0;width: 500px;}