.hcarousel{position: relative;overflow:hidden;}
.hcarousel ul{position: relative;list-style: none;padding:0;margin:0;overflow:hidden;}
.hcarousel li{overflow:hidden;}
.hcarousel li img{display: block;}
.hcarousel .page{position:absolute;right:600px;bottom:10px;padding:10px;}
.hcarousel .page span{display:inline-block;margin:0 5px;width:15px;height:15px;line-height:24px;background-color:#efefef;text-align:center;border-radius:50%;box-shadow:0 0 10px #000;}
.hcarousel .page span.active{background-color:darkslateblue;}
.hcarousel .next2,.hcarousel .previous2{position:absolute;left:10px;top:50%;margin-top:-25px;width:20px;height:50px;line-height:50px;text-align:center;background-color:black;opacity:0.5;color: white;font-size:16px ;}
.hcarousel .next2{left:auto;right:10px;}
.hcarousel .next2:hover,.hcarousel .previous2:hover{opacity:0.8;}

/*
	水平移动样式
	ul.typex
 */
.hcarousel .type-x li{float:left;}
.hcarousel .type-fade li{position:absolute;top:0;left:0;}